{% extends "basebs.html" %}


{% block title %} lista di tutti i prodotti user.get_username {% endblock %}
{% block content %}




{% for l in object_list   %}

    {% if l.disponibilita == True and  request.user != l.user   %}
                 <div class="card" style="width: 40rem;">



                <img src="{{ l.immagine_copertina.url }}" alt="immagine_copertina" style="width:100%">

                <div class="card-body">
                  <h5 class="card-title">prodotti di  {{l.user.username}}</h5>
                  <p class="card-text">{{l.bio }} </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">categoria  : {{l.categoria}}</li>
                  <li class="list-group-item">nome del articolo   : {{l.nome}}</li>
                  <li class="list-group-item">citta del venditore   : {{l.profilo.cap}}</li>
                  <li class="list-group-item">cap del venditore     : {{l.profilo.citta}}</li>
                  <li class="list-group-item">prezzo   : {{l.profilo.indirizzo}}</li>
                  <li class="list-group-item">descrizione   : {{l.descrizione}}</li>
                  <li class="list-group-item">stato del articolo   : {{l.stato_articolo}}</li>

                </ul>



                <a  href="{% url 'prodotto:ordine_create' pk=l.id %}" type="button" class="btn btn-primary btn-lg btn-block">Odina questo Prodotto</a>

                 </div>
    {% endif %}


{% empty %}
    {% if  user.is_authenticated    %}


    {% endif %}
{% endfor %}
{% endblock %}