{% extends "basebs.html" %}


{% block title %} il tuo Profilo{% endblock %}
{% block content %}
<ul>
    <h1>Le tue Carte Collegate</h1>
</ul>




    <div class="alert alert-secondary" role="alert">
  Torna al tuo   <a href="{% url 'profilo:profilo_view' %}" class="alert-link">Profilo</a>
    </div>



{% for l in object_list %}

    <ul class="list-group">
  <li class="list-group-item">il codice della tua carta é {{ l.paypal_email }}</li>


</ul>


      <div class="alert alert-warning" role="alert">
            <a href="{% url 'portafoglio:update_pp' pk=l.id %}" class="alert-link">Modifica il tuo account</a>
        </div>
      <div class="alert alert-danger" role="alert">
            <a href="{% url 'portafoglio:delete_pp' pk=l.id %}" class="alert-link">Scollega il tuo account</a>
        </div>
<hr>

    </div>

{% empty %}

      <div class="alert alert-secondary" role="alert">
     <a href="{% url 'portafoglio:create_pp' %}" class="alert-link">Prima volta ?, aggiungi il tuo account </a>
    </div>


{% endfor %}
{% endblock %}