{% extends "basebs.html" %}


{% block title %} il tuo Profilo{% endblock %}
{% block content %}
<ul>
    <h1>Le tue Carte Collegate</h1>
</ul>




    <div class="alert alert-secondary" role="alert">
  Torna al tuo   <a href="{% url 'profilo:profilo_view' %}" class="alert-link">Profilo</a>
    </div>

      <div class="alert alert-secondary" role="alert">
  Aggiungi una   <a href="{% url 'portafoglio:create_carta' %}" class="alert-link">Carta</a>
    </div>


{% for l in object_list %}

    <ul class="list-group">
  <li class="list-group-item">il codice della tua carta é {{ l.carta_codice }}</li>
  <li class="list-group-item">Scade il {{ l.carta_scadenza_giorno }}/{{ l.carta_scadenza_mese }} </li>

</ul>


      <div class="alert alert-warning" role="alert">
            <a href="{% url 'portafoglio:update_carta' pk=l.id %}" class="alert-link">Modifica questa Carta</a>
        </div>
      <div class="alert alert-danger" role="alert">
            <a href="{% url 'portafoglio:delete_carta' pk=l.id %}" class="alert-link">Elimina questa Carta</a>
        </div>
<hr>

    </div>





{% endfor %}
{% endblock %}